body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open-sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0e25;
    overflow-x: hidden;
}

#responsive_button {
   height: 80px;
   width: 220px;
   color: white;
   background-color: #1e51c0;;
   font-size: 20px;
   border: none;
   border-radius: 22px;
}

#responsive_button:hover {
   background-color: #3763c2;
}

#body {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    box-sizing: border-box;
}

.noscroll_body {
    overflow-y: hidden;
}

.card {
    padding: 20px;
    height: 250px;
    width: 380px;
    display: flex;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}

.pokemon_image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    right: 20px;
}

.class_name {
    padding: 6px 12px;
    width: fit-content;
    background-color: rgba(250, 250, 250, 0.2);
    border-radius: 14px;
}

.name_container {
    display: flex;
    flex-direction: column;
}

.name_container span {
    margin: 4px 0;
}

.fullscreen_background {    
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.fullscreen {
    height: 92vh;
    width: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 4vh;
    left: 32vw;
    color: white;
    border-radius: 20px;
    z-index: 1;
}

.fullscreen_image {
    margin-bottom: -2.5%;
    height: 32vh;
    width: 32vh;
    position: unset !important;
    object-fit: cover;
    z-index: 1;
}

.fullscreen_info {
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 20px;
    box-sizing: border-box;
}

.fullscreen_class_container {
   flex-direction: row;
   gap: 10px;
}

.close_icon {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.pokemon_stats {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    color: white;
    background-color: #0a0e25;
    border-radius: 20px;
}

.pokemon_stats h2 {
    margin: 0px;
    font-size: 28px;
}

.stat_container {
    padding: 0 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    box-sizing: border-box;
}

.stat_span {
    width: 72px;
}

.stat_bar_container {
    height: 6px;
    width: 70%;
    background-color: #1a2041;
}

.stat_bar {
    height: 100%;
}

@media(max-width: 2050px) {
    #responsive_button {
        display: none;
    }
}

@media(max-width: 1600px) {
    .fullscreen {
        width: 60vw;
        left: 20vw;
    }
}

@media(max-width: 1000px) {
    .pokemon_info_general {
      font-size: 22px;
    }

    .fullscreen {
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .pokemon_stats {
        border-radius: 20px 20px 0 0;
    }
}

@media(max-width: 860px) {
    .card {
        width: 340px;
    }
}

@media(max-width: 775px) {
    .card {
        height: 40vh;
        width: 90vw;
    }

    .pokemon_image {
        height: 80%;
        width: 65%;
        object-fit: contain;
    }
}

@media(max-width: 500px) {
    .pokemon_info_general {
        font-size: 1.2em;
    }
}

@media(max-width: 400px) {
    .pokemon_info_general {
        font-size: medium;
    }
}

@media(max-height: 1000px) {
    .fullscreen_info {
        font-size: 16px;
    }
}